.header {
  margin-block-end: var(--size-xl);
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  gap: var(--size-lg);
  margin-block-end: var(--size-xl);
}
.search > input {
  flex-grow: 1;
  height: 50px;
  border: 1px solid #eaeaeb;
  border-radius: 6px;
  padding: var(--size-xs);
  outline: none;
}
.search > .dateRange {
  align-self: flex-end;
}

@media only screen and (max-width: 768px) {
  .search {
    flex-direction: column;
  }
}
