h4 {
  margin-block-end: var(--size-xl);
}

form {
  display: flex;
  flex-direction: column;
}

form .formContent {
  display: grid;
  gap: var(--size-lg);
  grid-template-columns: 1fr 1fr;
  margin-block-end: var(--size-xl);
}

.full-grip-width {
  grid-column: span 2;
}

form .formContent > * {
  display: flex;
  flex-direction: column;
}

form .formContent > * > input,
form .formContent > * > select:not(select[multiple]) {
  height: var(--size-xl);
}

form .formContent > * > select[multiple] {
  max-height: var(--size-3xl);
}

form .formContent > * > input,
form .formContent > * > select {
  background-color: var(--color-light-grey);
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius);
  font-size: var(--font-size-1);
}
form .formContent > * > input:focus,
form .formContent > * > select:focus {
  border: 1px solid var(--color-dark-grey);
  outline: none;
}

form .formContent > * > label {
  color: var(--color-dark-grey);
}

form .formContent > * > span[role="alert"] {
  font-size: smaller;
  color: var(--color-red);
}

option {
  padding: 0.5rem;
}
option:hover,
option:focus {
  background-color: hsl(146, 55%, 35%) !important;
  color: white !important;
}
.selected {
  background-color: var(--color-primary) !important;
  color: white !important;
}

.tableWrapper {
  overflow: auto;
  width: 100%;
}

.tableWrapper table {
  outline: 1px solid var(--color-grey);
  margin: 1px; /* this is to avoid a glitch with the outline when mobile */
  width: calc(100% - 2px);
  border-radius: var(--border-radius);
  overflow: hidden;
  border-spacing: 0;
  border-collapse: collapse;
}

/* add padding to every item (includes header) */
.tableWrapper table > * > * > * {
  padding: var(--size-xs) var(--size-sm);
}

/* add a line between every item */
.tableWrapper table > * > *:not(:last-child) {
  border-bottom: 1px solid var(--color-grey);
}

.tableWrapper thead {
  background-color: var(--color-primary);
}

.tableWrapper th {
  text-align: left;
  color: white;
  border-bottom: 1px solid var(--color-grey);
  font-weight: normal;
  font-size: large;
}

/* for taking minimum space */
.tableWrapper td.min {
  width: 1%;
  white-space: nowrap;
}

.tableWrapper table .click {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  form .formContent {
    grid-template-columns: 1fr;
  }
}
