.container > *:not(:last-child) {
  margin-block-end: var(--size-xl);
}

.container h4 {
  margin-block-end: 0 !important;
}
.container h5 {
  font-weight: normal;
}

.dateInfo {
  border-collapse: collapse;
}
.dateInfo tbody tr:not(:last-child) {
  border-bottom: 1rem solid transparent; /* table elements do not accept margin so i use border as a hack */
}
.dateInfo tbody tr td:not(:last-child) {
  border-right: 1.5rem solid transparent; /* table elements do not accept margin so i use border as a hack */
}

.tableWrapper {
  overflow: auto;
  width: 100%;
}

.tableWrapper table {
  outline: 1px solid var(--color-grey);
  margin: 1px; /* this is to avoid a glitch with the outline when mobile */
  width: calc(100% - 2px);
  border-radius: var(--border-radius);
  overflow: hidden;
  border-spacing: 0;
  border-collapse: collapse;
}

/* add padding to every item (includes header) */
.tableWrapper table > * > * > * {
  padding: var(--size-sm);
}

/* add a line between every item */
.tableWrapper table > * > *:not(:last-child) {
  border-bottom: 1px solid var(--color-grey);
}

.tableWrapper thead {
  background-color: var(--color-primary);
}

.tableWrapper th {
  text-align: left;
  color: white;
  border-bottom: 1px solid var(--color-grey);
  font-weight: normal;
  font-size: large;
}

/* for taking minimum space */
.tableWrapper td.min {
  width: 1%;
  white-space: nowrap;
}

.tableWrapper table .click {
  cursor: pointer;
}

input {
  height: var(--size-xl);
}

input {
  background-color: var(--input-background-color);
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius);
  font-size: var(--font-size-1);
}
input:focus {
  border: 1px solid var(--color-dark-grey);
  outline: none;
}

.flex-hor {
  display: flex;
  gap: var(--size-sm);
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
}
