.container {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
}

.main {
  display: flex;
  height: 100%;
}

.sidebar {
  height: 100vh;
  width: var(--sidebar-width);	
}

.content {
  margin-inline: auto;
  padding-inline: var(--content-padding);
  width: clamp(var(--min-screen-size), 100%, var(--max-screen-size));
  margin-block-start: var(--size-3xl);
  overflow-y: auto;
}

.header {
  height: var(--header-height);
  background-color: var(--color-light-grey);
}

.open {
  background-color: var(--color-light-grey);
  padding: 1rem;
}
