/* .test {
  background-color: var(--color-light-grey);
  padding-inline: var(--size-md);
  padding-block: var(--size-3xl);
} */

* {
  background-color: blueviolet;
}
template {
  width: 100vw;
}
.test {
  width: 100vw;
}