.pwindow {
    padding: 3rem;
    display: flex;
    text-align: center;
    background-color: var(--color-light-grey);
    border-radius: 12px;
}

input {
    margin: 3rem;
    width: 30%;
    align-self: center;
    height: 2rem;
    background-color: var(--color-light-grey);
    border-radius: 8px;
    padding: none;
}

.save-button {
    background-color: var(--color-primary);
    color: white;
}




